body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  margin: 8px;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top:1%;
    min-height;10px;
}
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}
header a{
    text-decoration:none;
    text-transform:uppercase;
    font-size:0.9em;
}
header ul{
    /*margin:0;*/
    /*margin=0 5% 0 5%;*/
    text-align:center;
    padding:0;
    margin-left=70%;
    margin-top:0px;
}
header nav{
    margin-top:2px;
}
header li{
    /*float:center;*/
    display:inline;
    padding: 0 6px 0 6px;
}


main {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: max-content;
  grid-auto-flow: row dense;
}

.article h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.article a,
.article a:visited {
  text-decoration: none;
  color: inherit;
}

.article img {
  width: 100%;
}

.title-h:{
    margin: auto;
}

.bigContainer {
    /*margin-left:5%;*/
    padding:1px 16px;
    /*height:1000px;*/
}



/* notes */

#go_back_note{
    float: left;
    /*text-align: left;*/
    font-size: 3.5em;
    margin-left: 15%;
}
#go_back_note:hover, #go_for_note:hover{
     background-color: lightblue; 
}

#go_for_note{
    float:right;
    /*text-align: right;*/
    font-size: 3.5em;
    margin-right: 15%;
}

.currentNoteBox {
    width:50%;
    margin: auto;

    padding: 2px 2px 4px 4px;
    border-width: 2px;
    border-style: solid;
    border-color: #1C6EA4;
    border-radius: 2px;
}

.currentNoteTitle {
    font-weight: 400; 
    text-decoration: underline; 
}

.currentNoteOptions {
   text-align: right;
}

.noteContainer {
    width: 60%;
    border-width: 2px;
    border-style: solid;
    border-color: #1C6EA4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    padding: 2px 2px 4px 4px;
    text-align: left;

}
.noteContainerTags{
   float: right;
}
