body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  margin-left:0px;
  /*margin: 2px;*/
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top:1%;
    min-height: 10px;
}
#container{
    width:100%;
    /*margin:auto;*/
    /*overflow:hidden;*/
}
header a{
    text-decoration:none;
    text-transform:uppercase;
    font-size:0.7em;
}
header ul{
    /*margin:0;*/
    /*margin=0 5% 0 5%;*/
    text-align: center;
    padding: 0;
    margin-top: 0px;
}

header nav{
    margin-top:2px;
    margin-left: 1px;
}
div#container a{
    color: #005;
}

header li{
    /*float:center;*/
    display:inline;
    padding: 0 6px 0 6px;
}

header .current a{
    color:#e8491d;
    font-weight:bold;
}

main {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: max-content;
  grid-auto-flow: row dense;
}

#branding {
    float: center;
    font-size: 2em;
    margin-bottom: 5px;
    margin-left: 7%; 
}
#newNoteButton {
    position: absolute; 
    /* top: 20px;
    right: 40px; */
    max-height: 70px;
    bottom: 49%;
    right: 1px;
    float: right;
    font-size: 3.5em;
    color: black;
    margin-bottom: 5px;
    margin-right: 5%;
}

button {
    background-color: #1C6EA4; 
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 11px; */
  }

.currentNoteOptions button {
    min-height: 2.1em;
    min-width: 1.5em;
    width: 17%;
    height: 7%;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 3.3em;
    padding: 2px 3px; 
    border-radius: 2px
  }


.bigContainer {
    margin-left:5%;
    padding:1px 16px;
    /*height:1000px;*/
}


/* notes */

#go_back_note {
    float: left;
    left: 3%;
    /* max-width: 5px left; */
    /* margin-left: 5px; */
    /* margin-left: 5px; */
}

#go_for_note {
    float:right;
    right: 1%;
    /*margin-right: 5%;*/
}
#go_for_note, #go_back_note {
    position: absolute;
    font-size: 3.5em;
    font-weight: 650;
    max-height: 90px;
    bottom: 60%;
}
#go_back_note:hover, #go_for_note:hover, #newNoteButton:hover{
    color: lightblue; 
}
#go_back_note:active, #go_for_note:active, #newNoteButton:active { 
     color: #1C6EA4;
}

.currentNoteBox{
    width:80%;
    margin: auto;
    padding: 2px 2px 4px 4px;
    border-width: 2px;
    border-style: solid;
    border-color: #1C6EA4;
    border-radius: 2px;
}
.currentNoteTitle {
    font-weight: 400; 
    text-decoration: underline; 
    word-wrap: break-word;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.currentNoteImage {
    margin: 5px 5px 5px 5px;
    /* float: left;  */
    min-width: 50px;
    min-height:40px;
    width: 10%;
    height: 12%;
}

.currentNoteBox p {
    word-wrap: break-word;
}
.currentNoteTags {
    /*TODO: Tags overflow  */
    float: right;
    margin: 4px;
    word-wrap: break-word;
    width: 25%;
    height: 2%;
    overflow:hidden;
    white-space: normal;
}

.currentNoteOptions {
    font-size:0.3em;
    text-align: right;
}

.noteContainer {
    width: 60%;
    border-width: 2px;
    border-style: solid;
    border-color: #1C6EA4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    padding: 2px 2px 4px 4px;
    text-align: left;

}
.noteContainerTags{
   float: right;
}



/*modal*/
.noteModal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height : 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.25);
}

#changeNoteModal {
    display: none;
}

#newNoteModal {
    display: none;
}

.modal-content {
    background-color:#f4f4f4;
    /* margin: 45% auto; */
    margin-top: 7%;
    /* margin-bottom: 42%; */
    margin-right: 10%;
    margin-left: 10%;
    width: 80%; 
   /* height: 50%; */
    /* vertical-align: middle; */
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.25),0 7px 20px 0 rgb(0,0,0,17);
    animation-name: modalopen;
    animation-duration: 0.5s;
    /* display: table-cell; */
    height: 370px;
}

.modal-header {
    background: #1C6EA4;
    padding:15px;
    text-transform:uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 1.3em;
}

.modalNoteBox{
    width:80%;
    height: 470;
    margin: auto;
    padding: 2px 2px 4px 4px;
    border-width: 2px;
    border-style: solid;
    border-color: #1C6EA4;
    border-radius: 2px;
}

.modal-body {
    margin-top: 10px;
    /* display: inline-block; */
}

.modal-body .newNoteTitle, .newNoteTags, .newNoteText{
    margin-top: 9px;
}


.closeBtn {
    color: #fff;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, closeBtn:focus {
    color:#000;
    text-decoration: none;
    cursor: pointer;
}

.buttonsModal{
    margin-top: 7px;
    margin-left: 22px;
    margin-right: 22px;
}
.saveButton {
    width: 20%;
    height: 10%;
    min-width: 90px;
    min-height:70px;
    padding: 3px 3px;
    margin: 5px 5px 5px 5px;
    cursor: pointer; 
}
#takePhoto {
    margin-left: 5%;
    float: left;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    /* padding: 6px 12px; */
    cursor: pointer; 

    width: 20%;
    height: 6%;
    min-width: 90px;
    min-height:70px;
    padding: 3px 3px;
    margin: 5px 5px 5px 5px;
    border-radius: 2px;

    background-color: #1C6EA4; 
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    /* vertical-align: middle; */
    display: inline-block;
    font-size: 0.85em;
    line-height: 150%;
    font-weight: 350;
}

#saveNew {
    margin-right: 5%;
    float: right;
}

.titleModal {
    font-weight: 400; 
    text-decoration: underline; 
    font-size: 1.1em;
    width: 95%;
    min-width: 100px;
}
.tagsModal {
    width: 95%;
    min-width: 100px;
}

.imageBlock {
    min-width: 90px;
    min-height:70px;
    width: 30px;
    height: 30px;
    /* padding: 3px 3px; */
    margin: 5px 5px 5px 5px; 
    float:left;
}
#newImageNote {
    display: none;
}

.imageBlock button {
    /* float: right; */
    position: relative;
    /* right: 98px; */
    left: 95px;
    top: -75px;

    width: 40px;
    height: 40px;
}
.imageNote {
    /* width: 20%; */
    /* height: 10%; */
    min-width: 90px;
    min-height:70px;
    width: 30px;
    height: 30px;
}

.newNoteBox{
    width:95%;
    margin: auto;
    padding: 2px 2px 4px 4px;
    border-width: 2px;
    border-style: solid;
    border-color: #1C6EA4;
    border-radius: 2px;
}
.currentNoteBox input{
    /* font-size: 17em; */
    width:80%;
    /* height: 40%; */
}
.textModal {
    /* font-size: 1.7em; */
    width: 99%;
    min-width: 100px;
}

@keyframes modalopen{
    from{opacity:0}
    to {opacity: 1}
}


#newNoteText, #changeNoteText {
    width: 70%;
    /* min-width: 20px; */
    height: 120px;
}

.snoozeModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height : 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.25);
}

.snoozeContainer {
    padding: 10px 10px;
}
.snoozeBox {

}
.snoozeContainer button {
    margin-right: 10px;
    margin-bottom: 10px;


    width: 20%;
    height: 10%;
    min-width: 95px;
    min-height:50px;
}
.snoozeContainer input {

    margin-right: 10px;
    margin-bottom: 10px;
}

.modal-content-snooze {
    height: 350px;    
    background-color:#f4f4f4;
    /* margin: 45% auto; */
    margin-top: 15%;
    margin-bottom: 42%;
    margin-right: auto;
    margin-left: auto;
    width: 70%; 
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.25),0 7px 20px 0 rgb(0,0,0,17);
    animation-name: modalopen;
    animation-duration: 0.5s;
}


/* Search box */
.searchBox {
    /* width: 100px; */
    margin-left: 20%;
    margin-right: 4%; 
    margin-top: 5px;
    margin-bottom: 8px;
}
#searchBoxText {
    width: 80%;
    justify-content: center;
    padding: 2px;
    font-size: 1.1em;
}